h1 {
    text-align: center;
}
h1 {
    color: red;
}
h1 {
    text-decoration: dotted;
}
h2 {
    text-align: center;
}
h2 {
    color: orange;
}
h3 {
    color: yellow;
}
h3 {
    text-align: center;
}
body {
    background-color: black;
}
h4 {
    color: green;
    text-align: center;
}
h5 {
    color: blue;
    text-align: center;
    font-size: larger;
    font-weight: bolder;
}
p#volim {
    text-align: center;
    color: purple;
    font-size: xx-large;
}